---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Powered by a cutting-edge tech stack</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:python" />
    <Icon class="h-8 md:h-12" name="simple-icons:rust" />
    <Icon class="h-8 md:h-12" name="simple-icons:cplusplus" />
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div>
